*,
::after,
::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}



.main{
  
  .main__container-slider{
    width: 100%;
    background-image: url(../img/BgSlider.png);
    padding: 120px 0;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    &__br{
      content:"";
      width: 100px;
      border-bottom: 2px solid white;
      display: block;
    }

    &__title{
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700;
      color: white;
      margin: 30px auto 90px;
    }

    .slider{
      // max-width: $lg;
      display: flex;
      justify-content: center;
      align-items:center;
      position: relative;
      

      .left__arrow,
      .right__arrow{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        z-index:5;
        cursor: pointer;
      }

      .left__arrow{
        left: -60px;
      }
      .right__arrow{
        right: -60px;
      }

      
      .slick-active > .slick-dots li{
        margin: 0 20px;
        height: 10px;
        width: 10px;
        background-color: white;
        border-radius: 50%;
        -webkit-border-radius: 50 ;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      .slick-dots li button:before{
        content:"";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 1px solid #FFFFFF;
        background-color: white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      .slick-active.slick-dots li button:before{
        background-color: white;
      }

    }
    .body-slider{
      width: 1230px;
      min-width: 0;
      

      .slider__item{
        min-width: 370px;
        width: 370px;
        height: 514px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 0;
        background-color: white;
        margin: 15px;
        text-decoration: none;


        &-img{
          width: 100%;
          
        }

        &-text{
          padding: 30px 20px;
          
          

          &__title{
            margin-bottom:10px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: #2C4058;
            margin-bottom: 15px;
          }

          &__text{
            margin-bottom:10px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 39px;

            color: #2C4058;
          }

          .slider__item-author{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
  
            .author__img{
              width: 60px;
              height: 60px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              margin-right: 20px
            }
  
            .author__info{
              
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
  
              &-name{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #2C4058;
                margin-bottom: 0;
              }
  
              &-date{
                margin-bottom: 0;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #55B7FF;
              }
  
            }
          }
        }

        
      }
    }
  }

  .main__container-galery{
    width: 100%;
    background-color: white;
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    &__br{
      content:"";
      width: 100px;
      border-bottom: 2px solid #2C4058;
      display: block;
      
    }
    &__title{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 54px;
      text-align: center;
      color: #2C4058;
      margin: 30px auto 90px;
    }

    .galery__grid{
      display: grid;
      gap: 10px;
      max-width: 1170px;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2,214px);

      .grid__img-1{
        grid-row:1/2;
        grid-column: 1/2;
      }
      .grid__img-4{
        grid-row:2/3;
        grid-column: 2/3;
      }
      .grid__img-5{
        grid-row:2/3;
        grid-column: 3/4;
      }
    }
  }
}





// CHANGE SLIDER ARROW
.slick-prev:before,
.slick-next:before {
  display: none;
}



// .slick-prev,.slick-prev:hover,.slick-prev:focus {
//   left: -50px;
//   background: url(../img/Left.svg);
//   background-repeat: no-repeat;
// }

// .slick-next,.slick-next:hover,.slick-next:focus {
//   right: -50px;
//   background: url(../img/Right.svg);
//   background-repeat: no-repeat;

// }  


//GOOGLE MAPS
#map{
  height: 500px;
  width: 100%;
  margin: 40px 0;
}


.footer {
  &--container {
    background: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
    background-image: url(../img/backFotter.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 203px 200px;

    .container {
      &--info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .info {
          &--logo {
            margin-right: 369px;

            svg {
              margin-bottom: 41px;
            }

            p {
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: #FFFFFF;
            }
          }

          &--icons {
            @include flex-between;

            .icons {
              &--svg {
                cursor: pointer;
                fill: transparent;
              }

              &--svg:hover {
                fill: lightcyan;
              }
            }

          }
        }
      }
      &--btn{
        
      }
    }
  }
}