*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main .main__container-slider {
  width: 100%;
  background-image: url(../img/BgSlider.png);
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .main__container-slider__br {
  content: "";
  width: 100px;
  border-bottom: 2px solid white;
  display: block;
}
.main .main__container-slider__title {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin: 30px auto 90px;
}
.main .main__container-slider .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .main__container-slider .slider .left__arrow,
.main .main__container-slider .slider .right__arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  z-index: 5;
}
.main .main__container-slider .slider .left__arrow {
  left: -60px;
}
.main .main__container-slider .slider .right__arrow {
  right: -60px;
}
.main .main__container-slider .body-slider {
  width: 1230px;
  min-width: 0;
}
.main .main__container-slider .body-slider .slider__item {
  min-width: 370px;
  width: 370px;
  height: 514px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;
  background-color: white;
  margin: 15px;
}
.main .main__container-slider .body-slider .slider__item-img {
  width: 100%;
}
.main .main__container-slider .body-slider .slider__item-text {
  padding: 30px 20px;
}
.main .main__container-slider .body-slider .slider__item-text__title {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  margin-bottom: 15px;
}
.main .main__container-slider .body-slider .slider__item-text__text {
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 39px;
  color: #2C4058;
}
.main .main__container-slider .body-slider .slider__item-text .slider__item-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.main .main__container-slider .body-slider .slider__item-text .slider__item-author .author__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
}
.main .main__container-slider .body-slider .slider__item-text .slider__item-author .author__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.main .main__container-slider .body-slider .slider__item-text .slider__item-author .author__info-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2C4058;
  margin-bottom: 0;
}
.main .main__container-slider .body-slider .slider__item-text .slider__item-author .author__info-date {
  margin-bottom: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

#map {
  height: 500px;
  width: 100%;
  margin: 40px 0;
}/*# sourceMappingURL=app.css.map */