*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg + .svg {
  margin-left: 20px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main .main__container-slider {
  width: 100%;
  background-image: url(../img/BgSlider.png);
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .main__container-slider__br {
  content: "";
  width: 100px;
  border-bottom: 2px solid white;
  display: block;
}
.main .main__container-slider__title {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin: 30px auto 90px;
}
.main .main__container-slider .slider {
  max-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main__container-slider .body-slider {
  width: 80%;
  min-width: 0;
}
.main .main__container-slider .body-slider .slider__item {
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;
  background-color: white;
  margin: 10px;
  padding: 20px;
}
.main .main__container-slider .body-slider .slider__item-img {
  width: 100%;
}
.main .main__container-slider .body-slider .slider__item-text {
  padding: 10px;
}
.main .main__container-slider .body-slider .slider__item-text__title {
  margin-bottom: 10px;
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.main .main__container-slider .body-slider .slider__item-text__text {
  margin-bottom: 10px;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: initial;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.main .main__container-slider .body-slider .slider__item-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.main .main__container-slider .body-slider .slider__item-author .author__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
}
.main .main__container-slider .body-slider .slider__item-author .author__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.main .main__container-slider .body-slider .slider__item-author .author__info-name {
  margin-bottom: 0;
}
.main .main__container-slider .body-slider .slider__item-author .author__info-date {
  margin-bottom: 0;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.left__arrow,
.right__arrow {
  width: 50px;
  height: 50px;
  z-index: 5;
}

#map {
  height: 500px;
  width: 100%;
  margin: 40px 0;
}

.footer--container {
  background: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  background-image: url(../img/backFotter.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 203px 200px;
}
.footer--container .container--info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer--container .container--info .info--logo {
  margin-right: 369px;
}
.footer--container .container--info .info--logo svg {
  margin-bottom: 41px;
}
.footer--container .container--info .info--logo p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer--container .container--info .info--icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer--container .container--info .info--icons .icons--svg {
  cursor: pointer;
  fill: transparent;
}
.footer--container .container--info .info--icons .icons--svg:hover {
  fill: lightcyan;
}/*# sourceMappingURL=app.css.map */